<a href="https://colab.research.google.com/github/Anna172/Mainor/blob/master/Income.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [123]:
data = pd.read_csv("income.csv")
data.head()

   ID_W  IDIND  ID_H        J10  J32  J40        J60
0     5      1  1001   160000.0  2.0  NaN   160000.0
1     5      2  1001   600000.0  2.0  NaN  1600000.0
2     5      3  1002  1200000.0  2.0  NaN  1331000.0
3     5      4  1002    39000.0  2.0  NaN    39000.0
4     5      5  1002        NaN  NaN  NaN        NaN

In [0]:
# Добавляем новые слобцы
data = data.assign(diff=np.zeros(data.shape[0]))
#data['diff'] = data['J60'] - data['J10']

In [0]:
# убираем ответы я хз и тд 99999997 99999998 99999999
data.loc[(data['J60']==99999997) ^ (data['J60']==99999998) ^ (data['J60']==99999999), 'J60'] = np.NaN
data.loc[(data['J10']==99999997) ^ (data['J10']==99999998) ^ (data['J10']==99999999), 'J10'] = np.NaN
data.loc[(data['J40']==99999997) ^ (data['J40']==99999998) ^ (data['J40']==99999999), 'J40'] = np.NaN

In [0]:
medians10 = []
medians10 = data.groupby('ID_W')['J10'].median()
#print(medians10.index)
#medians10[medians.index[1]]
#print(medians10.values)
#print(medians10.values[5])

In [0]:
for i in range(len(medians10.index)):
  data.loc[(data['J32']==1) & (data['ID_W'] == medians10.index[i]) & (data['J40'] != np.NaN), 'J10'] = data.loc[(data['J32']==1) & (data['ID_W'] == medians10.index[i]) & (data['J40'] != np.NaN), 'J10'].fillna(medians10.values[i])

data['diff'] = data['J60'] - data['J10']

In [128]:
medians40 = []
medians40 = data.groupby('ID_W')['J40'].median()
print(medians.index)

Int64Index([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21,
            22, 23, 24, 25, 26, 27],
           dtype='int64', name='ID_W')

In [0]:
for i in range(len(medians40.index)):
  data.loc[(data['diff'] < 0) & (data['ID_W'] == medians40.index[i]), 'diff'] = medians40.values[i]

In [0]:
for i in range(len(medians40.index)):
  data.loc[(data['diff'] > data['J10']) & (data['ID_W'] == medians40.index[i]), 'diff'] = medians40.values[i]

data.loc[(data['J32']==1) & (data['J40'].isna()), 'J40'] = data.loc[(data['J32']==1) & (data['J40'].isna()), 'diff']

In [0]:
# Если указано, что есть доп зарабаток, но значения этого заработка нет, то доп заработком будем считать разницу
# между всего доходами и основными доходами, если эта разница не превышвет основного заработка, 
# иначе заполним средним значением по доп заработку
#data.loc[(data['J32']==1) & (data['J40'] != np.NaN), 'J10'] = data.loc[(data['J32']==1) & (data['J40'] != np.NaN), 'J10'].fillna(data['J10'].median())
#data['diff'] = data['J60'] - data['J10']
#data.loc[data['diff'] < 0, 'diff'] = data['J40'].median()
#data.loc[data['diff'] > data['J10'], 'diff'] = data['J40'].median()

In [0]:
for i in range(len(medians40.index)):
  data.loc[(data['J32']==1) & (data['ID_W'] == medians40.index[i]), 'J40'] = data.loc[(data['J32']==1) & (data['ID_W'] == medians40.index[i]), 'J40'].fillna(medians40.values[i])

data['J40'] = data['J40'].fillna(0)

In [0]:
#data.loc[(data['J32']==1), 'J40'] = data.loc[(data['J32']==1), 'J40'].fillna(data['J40'].median())
#data['J40'] = data['J40'].fillna(0)

In [0]:
# Добавляем новые слобцы
data = data.assign(Income=np.zeros(data.shape[0]))
data['Income'] = data['J10'] + data['J40']

In [0]:
data.to_csv("IndInc11.csv", index=False)